<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- se crea la etiqueta bean con id=del objeto y la clase class con la 
		ruta de donde esta la clase -->
	<bean id="persona1" class="modelo.entidad.Persona"></bean>

</beans>
